---
layout: default
---

<div class="poetry">
  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}
</div>

<!-- UY BEGIN 
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2125169"></script>
<!-- UY END -->

<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
<script src="https://img1.ws.126.net/f2e/tie/yun/sdk/loader.js"></script>
<script>
var cloudTieConfig = {
  url: document.location.href, 
  sourceId: "",
  productKey: "48dfd43a5af84bfdabb665776974a8ea",
  target: "cloud-tie-wrapper"
};
var yunManualLoad = true;
Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
</script>